<!-- Modal -->
<div class="modal fade" id="info-compra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Cabeçalho Modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informações da Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <!-- Body Modal -->
            <div class="modal-body" id="modal-body">
                <p><label for="nome_compra">Nome Compra: </label>
                <input type="text" id="nome_compra"></p>
                <p><label for="valor_compra">Valor: </label>
                <input type="text" id="valor_compra"></p>
                <p><label for="entrada">Entrada: </label>
                <input type="text" id="entrada"></p>
                <p><label for="quantidade_parcelas">Quantidade de parcelas: </label>
                <input type="text" id="quantidade_parcelas"></p>
                <p><label for="data_compra">Data da Compra: </label>
                <input type="text" id="data_compra"></p>
            </div>

            <!-- Rodapé Modal -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>