{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="info-compra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informações da Compra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
		{{}}
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
	<a class="btn btn-info right" href="{% url 'calendario' %}?{{ next_month }}"> Mês Seguinte </a>
	<a class="btn btn-info right" href="{% url 'calendario' %}?{{ prev_month }}"> Mês Anterior </a>
	<a class="btn btn-info left" href="{% url 'compras' %}"> Nova Compra </a>
</div>

<div style="text-align: center;">Despesa Mensal: R$ {{ soma }}</div>
<br>
{{ calendario }}

{% endblock %}